---
- name: Check if cluster operators and nodes are healthy
  include_role:
    name: check-cluster-health

- name: Scale MachineSet to desired replicas
  command: oc scale --replicas={{ desired_replicas }} machinesets.machine.openshift.io {{ machineset_name }} -n {{ namespace }}

- name: Wait for MachineSet to reach desired replicas
  shell: oc wait --for=jsonpath='{.status.replicas}'={{ desired_replicas }} machineset {{ machineset_name }} -n {{ namespace }} --timeout=300s

- name: Wait for all nodes to be Ready
  shell: oc wait --all --for=condition=Ready nodes --timeout=600s


  # Display MachineSet status
- name: Display final MachineSet status
  command: oc get machinesets.machine.openshift.io -n {{ namespace }}
  register: machineset_status

- debug:
    var: machineset_status.stdout_lines

#  Display Machine status
- name: Display final Machine status
  command: oc get machines.machine.openshift.io -n {{ namespace }}
  register: machine_status

- debug:
    var: machine_status.stdout_lines

# Display Node status
- name: Display final Node status
  command: oc get nodes
  register: node_status

- debug:
    var: node_status.stdout_lines
